<div class="container">
	<div class="row">
		<h3>Top 10 - Tekken 7</h3>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr align="center">
							<th>#</th>
							<th>Player</th>
							<th>Elo</th>
						</tr>
					</thead>
					<tbody>
						<% 10.times do |i| %>
							<tr align="center">
								<th><%= i + 1 %></td>
								<td><%= link_to @ranking.get_top_10_t7[i].nickname, player_path(@ranking.get_top_10_t7[i].id) %></td>
								<td><%= @ranking.get_top_10_t7[i].elos.last.value.round %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row" align="right">
		<div class="col-md-12">
			<p class="subtext"> Dernière mise à jour le 12.06.2019. Prochaine mise à jour le 19.06.2019.</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<h3>Titre news 1</h3>
	</div>
	<p class="subtext">News du 12/06/2019</p>
	<div class="row">
		<p>
			"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
		</p>
	</div>
</div>