<hr>

<div class="container">
	<div class="row" align="center">
		<div class="col-md-12">
			<footer class="text-muted small">
				<p>Retrouvez nous sur <%= link_to "Discord", "https://discord.gg/fybPARR" %>.</p>
				<p>Développé à l'aide de l'API Smash.gg.</p>
				<%= image_tag "vsfe_logo.png", alt: '', style: "max-height: 10%; max-width: 10%;" %>    
			</footer>
		</div>
	</div>
</div>