<footer>
	<div class="">
		<p>Retrouvez nous sur <%= link_to "Discord", "https://discord.gg/fybPARR" %>.</p>
		<p>Développé à l'aide de l'API Smash.gg.</p>
		<p>Logo par: <%= link_to "Seb Arts", "https://www.behance.net/sebastienarts/info" %></p>
	</div>

	<div class="footer-bottom text-center">
		<%= image_tag "vsfe8.png", alt: 'VSFE Logo', class: "logo" %>
		<p>VSFE - 2019 - &copy; Tous droits résérvés - <%= link_to "Crédit et mentions légales" %> </p>
	</div>
</footer>