<div class="container">
	<div class="row" align="center">
		<h2>Association</h2>
	</div>
	<div class="row">
		<div class="col-md-12">
			Cet outil est développé par <strong>Versus Fighting Esport (VSFE)</strong> qui est une association de la loi de 1904.<br/>
			VSFE à pour but de dynamiser l'Esport de combat.

			Vous pouvez trouver plus d'information sur: lien_esport
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
</div>