<div class="content">
<div class="content-header">
    <div class="content-bg assos-bg"></div>
    <div class="content-text">
        <h1>Versus Fighting E-sport</h1>
        <h2>association</h2>
    </div>
</div> 

<div class="container">
<br>
    <div class="container">
        <%= image_tag "vsfe8.png", alt: "VSFE Logo", class:"logo-black" %>
    </div>
    <div class="container">
        <p>
            Dans un contexte français, et international, de professionnalisation et de structuration de la pratique de l'<strong>Esport</strong>, des personnes se sont associés pour créer <strong>Versus Fighting Esport</strong>, association loi 1901 à but non lucratif.
        </p>
        <p>
            L’association <strong>Versus Fighting Esport (VSFE)</strong> a pour objet de dynamiser la scène Française de l'<strong>Esport</strong> de <strong>jeu de combat</strong> et de fédérer la communauté des pratiquants d’Esport de combat.
        </p>
        <p>            
            L’association <strong>VSFE</strong> a été créée le 04/05/2019.
        </p>
        <p>
            L’association <strong>VSFE</strong> est ouverte de manière fédératrice à l’ensemble des acteurs du secteur, tant amateurs que professionnels. 
        </p>
    </div>
</div>
</div>