<div class="container">
	<div class="row" align="center">
		<div class="col-md-4">
			<%= image_tag "vsfe_logo.png", alt: 'VSFE Logo', style: "max-width: 100%; max-height: 100%; margin-top: 1em; " %>
		</div>
		<div class="col-md-8">
			<p>
				Dans un contexte français, et international, de professionnalisation et de structuration de la pratique de l'<strong>Esport</strong>, des personnes se sont associés pour créer <strong>Versus Fighting Esport</strong>, association loi 1901 à but non lucratif.
			</p>
			<p>
				L’association <strong>Versus Fighting Esport (VSFE)</strong> a pour objet de dynamiser la scène Française de l'<strong>Esport</strong> de <strong>jeu de combat</strong> et de fédérer la communauté des pratiquants d’Esport de combat.
			</p>
			<p>            
				L’association <strong>VSFE</strong> a été créée le 04/05/2019.
			</p>
			<p>
				L’association <strong>VSFE</strong> est ouverte de manière fédératrice à l’ensemble des acteurs du secteur, tant amateurs que professionnels. 
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
</div>