<div class="content">
<div class="content-header">
    <div class="content-bg home-bg"></div>
    <div class="content-text">
        <h1>System de points Elo</h1>
    </div>
</div> 
<div class="container">
<!-- definition text -->
<div>
    <p>Ces classements sont basés sur <%= link_to "le système ELO", "https://fr.wikipedia.org/wiki/Classement_Elo" %> utilisé à l'origine pour mesurer le niveau des joueurs d'échecs.</p>
    <p>Aujourd'hui de nombreux jeux vidéo utilisent ce système pour classer les joueurs de leurs communautés (par exemple: Starcraft 2, League of Legends ...). Nous avons voulu mettre en place un système de classement similaire pour évaluer les niveaux des joueurs dans les différents tournois de jeux de combat. Les données traitées proviennent de l'API de l'application <%= link_to "Smash.gg", "https://smash.gg/" %>.</p>
</div>
<br>
<!-- Definition en image -->
<div>
    <p>Cette section décrit en partie le système de calcul utilisé pour nos classements.</p>
    <p>Le système se base sur un ELO initiale de 1500 points pour chaque joueur.<p/>
    <p>La table de conversion est la même que proposée <%= link_to "ici", "https://fr.wikipedia.org/wiki/Classement_Elo#Table_de_conversion_entre_probabilit%C3%A9_de_gain_et_%C3%A9cart_entre_classements_Elo" %>.</p>
    <p>Le coefficient de développement k s'évalue comme suit:</p>
    <ul>
        <li>40 : Pour les 30 premiers matches du joueur.</li>
        <li>30 : Si les 30 premiers matchs sont effectués et que l'ELO du joueur est inférieur à 2400 points.</li>
        <li>10 : Si les 30 premiers matchs sont effectués et que l'ELO du joueur est supérieur ou égal à 2400 points.</li>
    </ul>
    <p>Le coefficient de résultat w prend la valeur de 1 pour une victoire et 0 pour une défaite.</p>
</div>
</div>