<div class="content">

    <div class="content-header">
    <div class="content-bg home-bg"></div>
        <div class="content-text">
            <h1>Contact</h1>
        </div>
    </div> 

    <div class="container">
        <h1>Versus fighting esport Ranking App est une application faite par des gamers pour les gamers</h1>
        <br>
        <br>
        <p>C'est un classement des jeux de combats en direct, qui permet de voir en temps réel l'evolution des joueur tout en mesurant leurs performances grace a un algorithme de statistique </p>
    <%= link_to "Site web", "http://www.versusfightingesport.org", class: "btn" %>

    </div>
</div>


