<div class="content-games">
    <div class="search-games">
        <input type="text" id="searchInput" name="search">
        <i class='fa fa-search'></i>
    </div>

    <div class="games-list">
        <div class="game">
            <h3 class="game-title">Tekken 7</h3>
            <p>lorem description du jeux sur 4 lignes max </p>
        </div>

        <div class="game">
            <h3 class="game-title">Dead or Alive 6</h3>
            <p>lorem description du jeux sur 4 lignes max </p>
        </div>

        <div class="game">
            <h3 class="game-title">Mortal Kombat 11</h3>
            <p>lorem description du jeux sur 4 lignes max </p>
        </div>
        <div class="game">
        <h3 class="game-title">Tekken 7</h3>
        <p>lorem description du jeux sur 4 lignes max </p>
    </div>

    <div class="game">
        <h3 class="game-title">Dead or Alive 6</h3>
        <p>lorem description du jeux sur 4 lignes max </p>
    </div>

    <div class="game">
        <h3 class="game-title">Mortal Kombat 11</h3>
        <p>lorem description du jeux sur 4 lignes max </p>
    </div>
    <div class="game">
    <h3 class="game-title">Tekken 7</h3>
    <p>lorem description du jeux sur 4 lignes max </p>
</div>

<div class="game">
    <h3 class="game-title">Dead or Alive 6</h3>
    <p>lorem description du jeux sur 4 lignes max </p>
</div>

<div class="game">
    <h3 class="game-title">Mortal Kombat 11</h3>
    <p>lorem description du jeux sur 4 lignes max </p>
</div>
    </div>
</div>