<div class="content">
    <div class="content-header">
        <div class="content-bg games-bg"></div>
        <div class="content-text">
        <h2>Games</h2>
        <p>Jeux du Versus Fighting Esport</p>
    </div>
</div>
