<div class="container">
	<div class="row" align="center">
		<h2>Partenaire/h2>
	</div>
	<div class="row">
		<div class="col-md-12">
			Voici la liste de nos partenaires: Mettre la liste.
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
</div>