footer {
  background-color: #eee;
  font-size: 0.8em;
  padding-top: 20px;
  text-align: center;
}
footer a {
  color: #000;
}
footer i {
  font-size: 2em;
  color: rgba(23, 37, 75, 0.8);
  margin: 0 10px;
}
footer i:hover {
  color: rgba(23, 37, 75, 1);
}
footer .footer-cols {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
  text-align: left;
  font-size: 14px;
}

footer .footer-cols ul {
  list-style: none;
}

footer .footer-cols ul li:first-child {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: #444 solid 1px;
  margin-bottom: 1rem;
}

footer .footer-bottom {
  background: #333;
  padding: 1rem;
  color: #fff;
  font-size: 0.7em;
  text-align: center;
}
footer .footer-bottom img {
  width: 90px;
  margin: 0 auto;
  display: block;
}
footer .footer-bottom a {
  color: var(--color-light);
  opacity: 0.5;
}
