:root {
  --primary-color: rgba(66, 217, 200, 1);
  --primary-color-hover: rgba(66, 217, 200, 0.5);
  --secondary-color: rgba(150, 56, 122, 1);
  --secondary-color-hover: rgba(150, 56, 122, 0.5);
  --thirdly-color: rgb(22, 22, 22);
  --light-color: rgba(244, 244, 244, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Verdana', 'sans-serif';
  font-size: 1em;
}
.content {
  min-height: 55vh;
}
li {
  list-style-type: none;
}
.btn {
  display: inline-block;
  font-weight: 400;
  background-color: var(--secondary-color);
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}
